.row {
  display: flex;

}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}

.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}

.align-top {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.justify-left {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-right {
  justify-content: flex-end;
}

.align-center-center {
  justify-content: center;
  align-items: center;
}

.col {
  flex-grow: 1;
}
.col-10 {
  flex: 0 0 10%;
  max-width: 10%
}
.col-20 {
  flex: 0 0 20%;
  max-width: 20%
}
.col-25 {
  flex: 0 0 25%;
  max-width: 25%
}
.col-33 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%
}
.col-50 {
  flex: 0 0 50%;
  max-width: 50%
}
.col-67 {
  flex: 0 0 66.6666%;
  max-width: 66.6666%
}
.col-75 {
  flex: 0 0 75%;
  max-width: 75%
}
.col-80 {
  flex: 0 0 80%;
  max-width: 80%
}
.col-90 {
  flex: 0 0 90%;
  max-width: 90%
}
